### TwinCAT 3 ###
# VisualStudio
*.~u
*.suo

# TwinCAT folders
_Boot
_CompileInfo
_Libraries
.vs

# TwinCAT files
*.tclrs
*.tmc
*.tmcRefac
*.tpy
*.orig
*.bak

# more specific
*.tsproj.bak
*.plcproj.bak
*.xti.bak
*.tsproj.orig
*.plcproj.orig
*.xti.orig
*.project.~u
